$lightest-gray-75: #ffffff;
$lightest-gray-300: #eaeaea;
$lightest-gray-900: #323232;
$light-gray-75: #fafafa;
$light-gray-300: #e1e1e1;
$light-gray-900: #2c2c2c;
$dark-gray-50: #252525;
$dark-gray-100: #323232;
$dark-gray-900: #ffffff;
$darkest-gray-50: #080808;
$darkest-gray-100: #1e1e1e;
$dark-gray-900: #efefef;
html {
  height: 100%;
  overflow: hidden;
  body {
    height: 100%;
    overflow: hidden;
    display: grid;
    grid-template-rows: 48px auto;
    grid-template-columns: 48px auto 304px;
    grid-auto-flow: dense;
    grid-row-gap: 2px;
    grid-column-gap: 2px;
    header {
      grid-row: 1;
      grid-column: 1 / 4;
      -webkit-app-region: drag;
      -webkit-user-select: none;
    }
    .sidebar {
      grid-row: 2;
      grid-column: 1;
    }
    main {
      grid-row: 2;
      grid-column: 2;
    }
    .panels {
      grid-row: 2;
      grid-column: 3;
      overflow: auto;
    }
    .toolArea {
      ._coral-TreeView-itemLink::before {
        z-index: auto!important;
        margin-top: -4px!important;
      }
      .toolNameArea {
        display: flex;
        align-items: center;
        margin: 16px 24px;
        font-weight: normal;
        coral-icon {
          margin-right: 8px;
        }
      }
      .toolAreaContainer {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-column-gap: 16px;
        margin: 8px 16px;
      }
    }
  }
}

.coral--lightest {
  background-color: $lightest-gray-300!important;
  header, .sidebar, .panels {
    background-color: $lightest-gray-75;
    color: $lightest-gray-900;
  }
  .toolArea {
    border-bottom: 2px solid $lightest-gray-300;
  }
  #colorArea, #colorSlider, #alphaSlider, #maincolor, #subcolor, .layerThumbnail {
    border: 1px solid #eaeaea;
  }
  #colorsquare-picker, #hue-picker, #alpha-picker {
    box-shadow: 0 0 0 1px #4a4a4a, 0 0 0 3px #ffffff, 0 0 0 4px #4a4a4a;
  }
}
.coral--light {
  background-color: $light-gray-300!important;
  header, .sidebar, .panels {
    background-color: $light-gray-75;
    color: $light-gray-900;
  }
  .toolArea {
    border-bottom: 2px solid $light-gray-300;
  }
  #colorArea, #colorSlider, #alphaSlider, #maincolor, #subcolor, .layerThumbnail {
    border: 1px solid #e1e1e1;
  }
  #colorsquare-picker, #hue-picker, #alpha-picker {
    box-shadow: 0 0 0 1px #4a4a4a, 0 0 0 3px #ffffff, 0 0 0 4px #4a4a4a;
  }
}
.coral--dark {
  background-color: $dark-gray-50!important;
  header, .sidebar, .panels {
    background-color: $dark-gray-100;
    color: $dark-gray-900;
  }
  .toolArea {
    border-bottom: 2px solid $dark-gray-50;
  }
  #colorArea, #colorSlider, #alphaSlider, #maincolor, #subcolor, .layerThumbnail {
    border: 1px solid #4a4a4a;
  }
  #colorsquare-picker, #hue-picker, #alpha-picker {
    box-shadow: 0 0 0 1px #4a4a4a, 0 0 0 3px #ffffff, 0 0 0 4px #4a4a4a;
  }
}
.coral--darkest {
  background-color: $darkest-gray-50!important;
  header, .sidebar, .panels {
    background-color: $darkest-gray-100;
    color: $dark-gray-900;
  }
  .toolArea {
    border-bottom: 2px solid $darkest-gray-50;
  }
  #colorArea, #colorSlider, #alphaSlider, #maincolor, #subcolor, .layerThumbnail {
    border: 1px solid #393939;
  }
  #colorsquare-picker, #hue-picker, #alpha-picker {
    box-shadow: 0 0 0 1px #393939, 0 0 0 3px #ffffff, 0 0 0 4px #393939;
  }
}